<% if contact.errors.any? %>
  <div id="error_explanation">
    <h2><%= t('general.form_error') %> </h2>

    <ul>
    <% contact.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_with(model: contact, local: true) do |f| %>
  
  <div class="row">
    <div class="form-group col-sm-4">
      <%= f.label :name %>
      <%= f.text_field :name, id: :contact_name, class: "form-control" %>
      <%= error_tag(contact, :name) %>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-sm-4">
      <%= f.label :email %>
      <%= f.text_field :email, id: :contact_email, class: "form-control" %>
      <%= error_tag(contact, :email) %>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-sm-3">
      <%= f.label :birth_date %>
      <%= f.text_field(:birth_date, id: :contact_birth_date, value: "#{l(contact.birth_date) unless contact.birth_date.blank? }", class: "datepicker form-control") %>
      <%= error_tag(contact, :birth_date) %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label(:gender) %>
    <%= f.collection_radio_buttons(:gender, options_for_genders, :id, :description) do |b|%>
      <div class="radio-inline">
        <%= b.label { b.radio_button + b.text } %>
      </div>
    <% end%>
    <%= error_tag(contact, :gender) %>
  </div>

  <%= f.fields(model: :address) do |address| %>

    <h3><%= Address.model_name.human %></h3>

    <div class="row">
      <div class="form-group col-sm-3">
        <%= address.label(:street) %>
        <%= address.text_field(:street, class: "form-control") %>
        <%= error_tag(contact.address, :street) %>
      </div>
    
      <div class="form-group col-sm-3">
        <%= address.label(:zip_code) %>
        <%= address.text_field(:zip_code, class: "form-control", id: "cep") %>
        <%= error_tag(contact.address, :zip_code) %>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-sm-3">
        <%= address.label(:state) %>
        <%= address.collection_select(:state, State.all, :name, :name, {prompt: true, selected: contact.address.state}, {class: "form-control", id: "states_select"}) %>
        <%= error_tag(contact.address, :state) %>
      </div>

      <div class="form-group col-sm-3">
        <%= address.label(:city) %>
        <% if contact.address.state.blank? %>
          <%= address.collection_select(:city, City.all, :name, :name, {prompt: true, selected: contact.address.city}, {class: "form-control", id: "cities_select", disabled: true}) %>
          <%= error_tag(contact.address, :city) %>
        <% else %>
          <%= address.collection_select(:city, @cities, :name, :name, {prompt: true, selected: contact.address.city}, {class: "form-control", id: "cities_select"}) %>
        <% end %>
      </div>
    
    </div>

  <% end %>

  <div class="form-group">
    <%= f.label(:preferences) %>
    <%= f.collection_check_boxes(:preference_ids, Preference.all, :id, :name) do |b|%>
      <div class="checkbox-inline">
        <%= b.label { b.check_box + b.text } %>
      </div>
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit(t('buttons.save'), class: "btn btn-primary") %>
  </div>
<% end %>

<script>
  
$(function(){
  
  $("#states_select").on("change", function(){

    $.ajax({
         url: '/update_cities/' + $('#states_select option:selected').val(),
         type: 'GET',
         success: function(resp) {
            console.log("Dynamic city select ok!");
         },
         error: function( req, status, err ) {
           console.log("Error: " + status);
         }
    });
  });

});

</script>

