<div class="modal-dialog" role="document">
  <div class="modal-content">

    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title" id="myModalLabel"><%= @contact.name %></h4>
    </div>

    <div class="modal-body">

      <%= image_tag(@contact.picture.url(:medium)) %>

      <p>
        <strong><%= Contact.human_attribute_name('email') %>:</strong>
        <%= @contact.email %>
      </p>

      <p>
        <strong><%= Contact.human_attribute_name('birth_date') %>:</strong>
        <%= @contact.birth_date.strftime('%d/%m/%Y') %>
      </p>

      <p>
        <strong><%= Contact.human_attribute_name('gender') %>:</strong>
        <%= @contact.gender_i18n %>
      </p>

      <p>
        <strong><%= Address.human_attribute_name('zip_code') %>:</strong>
        <%= @contact.address.zip_code %>
      </p>

      <p>
        <strong><%= Address.human_attribute_name('street') %>:</strong>
        <%= @contact.address.street %>
      </p>

      <p>
        <strong><%= Address.human_attribute_name('city') %>:</strong>
        <%= @contact.address.city %>
      </p>

      <p>
        <strong><%= Address.human_attribute_name('state') %>:</strong>
        <%= @contact.address.state %>
      </p>

      <p>
        <strong><%= Contact.human_attribute_name('preferences') %>:</strong>
        
        <% if @contact.preferences.empty? %>
          Nenhuma prefência
        <% else %>

          <% @contact.preferences.each do |p| %>
            <%= "#{p.name} | " %>
          <%end%>

        <% end %>
      </p>

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
    </div>
  </div>
</div>

