<!DOCTYPE html>
<html>
  <head>
    <title>Teste</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    
    <div class="container">
      <%= yield %>
    </div>

    <% if notice %>
      <%= javascript_tag "$.notify( { message: '#{notice}'},
                                    { type: 'success', 
                                      placement: { 
                                        from: 'top',
                                          align: 'center'
                                      }
                                     }
                                   );" %>
    <%end%>

    <%if alert %>
        <%= javascript_tag "$.notify( { message: '#{notice}'},
                                      { type: 'danger', 
                                        placement: { 
                                          from: 'top',
                                            align: 'center'
                                        }
                                       }
                                     );" %>
    <%end%>

  </body>
   
</html>
