<!DOCTYPE html>
<html>
  <head>
    <title>Teste</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    
    <div class="container">

      <div class="row">
        <div class="text-center">
          <%= form_tag(search_path, method: :get) do %>
            <%= text_field_tag(:q, params[:q], {placeholder: "Pesquisar contato..."}) %>
            <%= submit_tag("Pesquisar", class: "btn btn-default") %>
          <%end%>
        </div>
      </div>

      <%= yield %>
    </div>

    <% if notice %>
      <%= javascript_tag "$.notify( { message: '#{notice}'},
                                    { type: 'success', 
                                      placement: { 
                                        from: 'top',
                                          align: 'center'
                                      }
                                     }
                                   );" %>
    <%end%>

    <%if alert %>
        <%= javascript_tag "$.notify( { message: '#{notice}'},
                                      { type: 'danger', 
                                        placement: { 
                                          from: 'top',
                                            align: 'center'
                                        }
                                       }
                                     );" %>
    <%end%>

  </body>
   
</html>
